
header {
    background-color: black;
    padding-top: 15px;
    
}

header > img {
    padding-left: 13px;
}

h1 {
    text-align: center;
    padding-bottom: 30px;
}

h2 {
    text-align: justify;
}


a > img {
    float: right;
    padding: 17px;   
}

a > img:hover {
    background-color: red;
    border-radius: 8px 8px 8px;
    transition-duration: 1s;
}


 * {
    margin: 0%;
    padding: 0%;
 }

nav {
    background-color: rgba(128, 128, 128, 0.424);
    padding: 9px;
    margin-bottom: 50px;
    padding-left: 76px;
}

nav > a {
    color: white;
    padding: 8px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    background-color: rgba(128, 128, 128, 0);
    font-weight: bold;
    transition-duration: 1s;
    padding-right: 10px;
    
}

nav > a:hover {
    background-color: red;
}


body {
    background-color: white;
    
}

footer {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    color: white;
    padding: 16px;
    margin-bottom: 15px;
}






